<!DOCTYPE html>
<html lang="en">

<style>
    body {
        text-align: center;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Search</title>
</head>

<body>
    <form action="/searchImg" method="POST">
        <H1>Search Images</H1>

        <input type="text" name="search" placeholder="Enter keywords here">
        <input type="submit" value="Search">
    </form>
    <br>
    <a href="/">Back to index</a>
    {{#if images}}
    <H1>Images</H1>
    <br>
    {{/if}}
    {{#each images}}
    <img src={{this}}>
    {{/each}}
</body>

</html>
